<div class="card" style="width: 20rem;">
    <div class="card-body">
      <div class="card-title">
        <h3>Cadastrar</h3>
      </div>
      
      <form #formCadastro='ngForm' (ngSubmit)="cadastrar()">
        <div class="form-group">
          <input 
            type="text"
            class="form-control" 
            placeholder="Nome de usuário"
            [(ngModel)]="usuario.nome"
            name="nome" required
          >
        </div>
        <div class="form-group">
          <input 
            type="password"
            class="form-control" 
            placeholder="Senha"
            [(ngModel)]="usuario.senha"
            name="senha" required
          >
        </div>
        <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="formCadastro.form.invalid">Cadastre-se</button>
      </form>
      <hr />
  
      <p class="small text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Privacidade</b>.</p>
  
    </div>
  </div>
  <br />
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <p class="card-text">
        Tem uma conta? <a (click)="exibirLogin()" class="card-link">Faça login</a>
      </p> 
    </div>
  </div>
