<div class="card" style="width: 20rem;">
    <div class="card-body">
      <div class="card-title">
          <h3>Logar</h3>
      </div>
      
      <form #formLogin="ngForm" (ngSubmit)="logar()">
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Nome de Usuário"
            [(ngModel)]="usuario.nome"
            name="nome" required
          >
        </div>
        <div class="form-group">
          <input 
            type="password"
            class="form-control" 
            placeholder="Senha"
            [(ngModel)]="usuario.senha"
            name="senha" required
          >
        </div>
        <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="formLogin.form.invalid">Entrar</button>
      </form>
      <hr />
  
      <p *ngIf="log == false" class="small text-danger text-center">O nome de usuário ou senha inseridos não pertencem a uma conta. Verifique seu nome de usuário e senha e tente novamente.</p>
  
    </div>
  </div>
  <br />
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <p class="card-text">
        Não tem uma conta? <a (click)="exibirCadastro()" class="card-link">Cadastre-se</a>
      </p> 
    </div>
  </div>