<div class="container">
    <h1 class="mt-5">Posts</h1>
    <p class="subtitle">
        <p *ngIf="usuarioLogado == false">Logue-se para Cadastrar Posts<p>
        <button *ngIf="usuarioLogado"  [routerLink]="['/post']" routerLinkActive="router-link-active" class="btn btn-primary">Cadastrar Post</button></p>
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
            
        <div class="row">
            <div class="col"*ngFor="let post of posts">
				<div class="card card-block" >
                    <div class="card text-center cardCentro" >
                        <div class="card-header">
                          <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item">
                              <a class="nav-link" type="button" data-toggle="modal"  data-target="#modalComentario" (click)="buscarComentarioPost(post)">Comentários</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Links</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Imagens</a>
                              </li>
                          </ul>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{post.titulo}}</h5>
                          <p class="card-text">{{post.texto}}</p>
                        </div>
                        <button type="button" class="btn btn-secondary btn-sm" (click)="deletarPost(post.id)">Excluir Post</button>
                      </div>
                </div>
			</div>
        </div>
			
    </div>
</div>

<!-- Modal de Comentario-->
<!-- Modal -->
<div class="modal fade" id="modalComentario" tabindex="-1" role="dialog" aria-labelledby="modalComentarioTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalComentarioTitle">Comentários</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="card" *ngFor="let comentario of comentarios">
          <h5 class="card-header"> {{comentario.usuarioId.nome}}</h5>
          <div class="card-body">
            <p class="card-text">{{comentario.comentario}}</p>
            <a href="#" type="button" class="btn btn-secondary" (click) ="deletarComentario(comentario.id)">Excluir</a>
           
          </div>
        </div>
      </div>
      <form action="POST" id="formComentario" #formComentario='ngForm'>
      <div class="modal-footer">
        <textarea name="comentario" id="comentario" cols="50" rows="5" placeholder="Deixe seu comentário"  [(ngModel)]="comentario.comentario"></textarea>
        <button type="button" class="btn btn-primary" (click)="salvarComentario()">Comentar</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!--Fim Modal Comentário-->